<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="/fragments/scripts :: head"/>

<body class="login-page sidebar-collapse">
<div class="page-header clear-filter section-home" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/img-now/header2.jpg');">
    </div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <img src="/img-now/logo-pn.png" alt="Thumbnail Image" class="rounded img-raised" width="45%">
                <div class="content-center brand">
                    <h1 class="h1-seo" th:text="#{head.title}"></h1>
                </div>
                <form name="f" th:action="@{/login}" method="post"
                      class="form-signin">

                    <div th:if="${param.error}" class="alert alert-danger"
                         th:text="#{login.error}"></div>

                    <div th:if="${param.logout}" class="alert alert-success"
                         th:text="#{login.disconnect}"></div>

                    <div class="content">
                        <div class="input-group form-group-no-border input-lg has-feedback">
						<span class="input-group-addon">
							<i class="now-ui-icons users_circle-08"></i>
						</span>
                            <input type="text" id="username" name="username"
                                   class="form-control" th:placeholder="#{login.user}"
                                   required="true"/>
                        </div>
                        <div class="input-group form-group-no-border input-lg has-feedback">
						<span class="input-group-addon">
							<i class="now-ui-icons objects_key-25"></i>
						</span>
                            <input type="password" id="password" name="password"
                                   class="form-control" th:placeholder="#{login.password}"
                                   required="true"/>
                        </div>

                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block" id="submit-login"
                               th:text="#{login.enter}"></button>
                            <form action="/signin/facebook" method="POST">
                                <input type="hidden" name="scope" value="public_profile"/>
                                <button class="btn btn-info btn-round btn-lg btn-block">
                                    <i class="fa fa-facebook-square"></i>
                                    <span th:text="#{login.facebook}">
                                    </span></button>
                            </form>
                            <h6>
                                <a href="#" class="link">Criar conta</a>
                            </h6>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.login-box -->

<div th:include="/fragments/scripts :: javascripts"/>
</body>

</html>
