<html layout:decorate="~{/layouts/main}">

<head>
    <title th:text="#{item.header}"/>
</head>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
    <section class="content-header">
        <!-- PAGE TITLE -->
        <h1>
            <span th:text="#{index.header}"/>
            <small><span th:text="#{index.title}"/></small>
        </h1>
        <!-- BREADCRUMB -->
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> <span
                    th:text="#{index.breadcrumb-1}"/></a></li>
            <li><a href="#"><span th:text="#{index.breadcrumb-2}"/></a></li>
            <li class="active"><span th:text="#{index.breadcrumb-3}"/></li>
        </ol>
    </section>
</div>



<div layout:fragment="content">

    <!-- Main content -->
    <section class="content">

        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title" th:text="#{breed.new}">Record New Breed</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group col-xs-12">
                  <label for="breedName" th:text="#{breed.name}">Breed's Name:</label>
                  <input type="text" class="form-control" id="breedName" th:placeholder="#{breed.name.ph}">
                </div>
               
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" th:text="#{btn.submit}">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->

    </section>

</div>
