<!DOCTYPE html>
<html layout:decorate="~{/layouts/main}">

    <div layout:fragment="content-header">
        <section class="content-header">

        </section>
    </div>

    <div layout:fragment="content">
        <!-- Main content -->
        <div class="col-sm-12 ">
            <span class="badge badge-danger"></span>

            <div class="box box-solid">
                <th:block th:each="news: ${n}">

                    <div class="box-body">

                        <div class="media">
                            <div class="media-left">
                                <a href="#" >
                                    <img src="../../img/noticia01.jpeg" alt="Noticia" class="media-object" style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="clearfix">
                                    <p class="pull-right">
                                        <a href="#"
                                           th:href="@{|news/view/${news.id}|}"
                                           class="btn btn-success btn-sm">
                                            <span >LEIA MAIS</span>
                                        </a>
                                    </p>

                                    <h4 style="margin-top: 0" th:text="|${news.title}|" class="news-title"></h4>

                                    <p style="margin-bottom: 0" th:text="|${news.caption}|"></p>
                                    <p style="margin-bottom: 0" th:text="|${news.author} / ${news.dataPublication}|"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</html>
