<!DOCTYPE html>
<html layout:decorate="~{/layouts/main}">

	<div layout:fragment="content-header">
        <h3 class="title" th:text="#{news.title}"></h3>
    </div>
	
	<div layout:fragment="content">
		
        <h4 class="title">
        	<!-- Icon -->
        	<i class="fa fa-newspaper-o"></i>
        </h4>
        
        <form th:object="${news}" th:action="@{/news/save}" method="post" enctype="multipart/form-data">
        
        	<!-- Id hidden -->
        	<input type="hidden" id="NewsId" th:field="*{id}" />
        	
        	<!-- Author hidden -->
        	<input type="hidden" id="NewsAuthor" th:field="*{author}" />
        	
        	<!-- DataPublication hidden -->
        	<input type="hidden" id="NewsAuthor" th:field="*{dataPublication}" />
        	
        	<!-- Title -->
        	<div class="col-xs-12">
            	<label for="notice" th:text="#{news.notice}" id="label-name"></label>
                <div class="input-group">
                    <input required type="text" th:field="*{title}" class="form-control" id="notice"
                               th:placeholder="#{news.notice}"/>
                </div>
           	</div>
           	
           	<!-- Caption -->
           	<div class="col-xs-12">
            	<label for="caption" th:text="#{news.caption}" ></label>
                <div class="input-group">
                    <input required type="text" th:field="*{caption}" class="form-control" 
                               id="caption" th:placeholder="#{news.caption}"/>
                </div>
           	</div>
           	
           	<!-- Description -->
           	<div class="col-xs-12">
            	<label for="description" th:text="#{news.description}" ></label>
                <div class="input-group">
                    <textarea type="text" rows="6" cols="50" th:field="*{description}" class="form-control" 
                               id="description" th:placeholder="#{news.description}"></textarea>
                </div>
           	</div>
           	
           	<!-- Image -->
           	<div class="form-group col-xs-12">
            	<label for="myFile" th:text="#{news.image}"></label>
                <div class="form-group">
                    <input type="file" id="myFile" name="myFile" multiple>
                </div>
                <div class="form-group">
                    <span class="badge badge-default" th:text="#{news.imageDesc}"></span>
                </div>
            </div>
        
        	<button class="btn btn-primary" type="submit" th:text="#{news.save}"></button>
        
        </form>
		
	</div>


</html>
