<!DOCTYPE html>
<html layout:decorate="~{/layouts/main}">

	<div layout:fragment="content-header-full">
<div class="page-header-image" data-parallax="true"
             style="background-image: url('/img/noticia01.jpeg');"></div>

        <div class="container" >
            <div class="content-center">
                <div class="photo-container">
                    <img src="/photos/face.jpg" alt="Foto de perfil do autor">
                    
                </div>
			 	<div>
			 		<h4 class="title" th:text="#{news.title}"></h4>
			 	</div>
            </div>
        </div>    </div>
	
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				
				
				<p>Autor: Master Yoda Data da Publicação: 06/10/2017 11:00</p>
				
				<h3> A Prefeitura de Canoas está divulgando a IV Feira de Adoção Municipal, nesta 
				sabado, a partir das 08h00. O evento será no centro da cidade, na praça da emancipação, em frente a prefeitura.
				
				O Evento terá a participação dos servidores que cuidam do canil municipal e de outros veterinários.
				</h3>
			
			</div>
			
		</div>
		
	</div>
	
</html>
