<!DOCTYPE html>
<html layout:decorate="~{/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">


    <div layout:fragment="content-header">
        <h3 class="title" th:text="#{doge.record.new}"></h3>
    </div>

    <div layout:fragment="content">
        <h4 class="title">
            <i class="fa fa-fw fa-paw"></i>
        </h4>
        <!--             <h3 class="title" th:text="#{pet.about}"></h3> -->

        <form th:object="${pet}" th:action="@{/pet/save}" method="post" enctype="multipart/form-data">

            <!--<input type="hidden" id="id" th:field="*{id}">-->

            <div class="col-xs-12">
                <label for="name" th:text="#{pet.name}" id="label-name"></label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="now-ui-icons travel_info"></i>
                    </span>
                    <input required type="text" th:field="*{name}" class="form-control" id="name"
                           th:placeholder="#{pet.name.ph}">
                </div>
            </div>



                <div class="form-group col-xs-12">
                    <label for="localization" th:text="#{pet.name.local}"></label>
                    <div class="input-group">
					        <span class="input-group-addon">
					            <i class="now-ui-icons objects_globe"></i>
					        </span>
                        <input required th:field="*{localization}"
                               type="text" class="form-control" id="localization"
                               th:placeholder="#{pet.name.local}">
                    </div>

                </div>

                <div class="form-group col-xs-12">
                    <label for="species" th:text="#{pet.species}"></label>
                    <select class="form-control" id="species" th:field="*{species}">
                        <option th:each="specie : ${T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Species).values()}"
                                th:value="${specie}" th:text="${specie.valor}"></option>
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label for="gender" th:text="#{doge.gender.select}"></label>
                    <select class="form-control" id="gender" th:field="*{gender}">
                        <option th:each="gender : ${T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Gender).values()}"
                                th:value="${gender}" th:text="${gender.gender}"></option>

                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label for="age" th:text="#{doge.age.select}"></label>
                    <select class="form-control" id="age" th:field="*{age}">
                        <option th:each="age : ${T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Age).values()}"
                                th:value="${age}" th:text="${age.age}"></option>

                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <label for="size" th:text="#{doge.size.select}"></label>
                    <select class="form-control" id="size" th:field="*{size}">
                        <option th:each="size : ${T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Size).values()}"
                                th:value="${size}" th:text="${size.size}"></option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <label for="pelage" th:text="#{doge.pelage.select}"></label>
                    <select class="form-control" id="pelage" th:field="*{pelage}">
                        <option th:each="pelage : ${T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Pelage).values()}"
                                th:value="${pelage}" th:text="${pelage.pelage}"></option>
                    </select>
                </div>
                <div class="form-group col-xs-12">
                    <label for="breed" th:text="#{doge.breed.select}"></label>
                    <select class="form-control" id="breed" th:field="*{breed}">
                        <option th:each="breed: ${T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Breed).values()}"
                                th:value="${breed}" th:text="${breed.breed}"></option>
                    </select>

                </div>
                <div class="form-group col-xs-6">
                    <label for="temper" th:text="#{doge.temperamento.select}"></label>
                    <select class="form-control" id="temper" th:field="*{temperament}">
                        <option th:each="temper: ${T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Temper).values()}"
                                th:value="${temper}" th:text="${temper.temper}"></option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <label for="health" th:text="#{doge.health.select}"></label>
                    <select class="form-control" id="health" th:field="*{health}">
                        <option th:each="health: ${T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Health).values()}"
                                th:value="${health}" th:text="${health.health}"></option>
                    </select>
                </div>

                <div class="form-group col-xs-12">
                    <label for="status" th:text="#{doge.status}"></label>
                    <select class="form-control" id="status" th:field="*{status}">
                        <option th:each="status: ${T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Status).values()}"
                                th:if="${status != T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Status).ADOPTED}"
                                th:value="${status}" th:text="${status.status}"></option>
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label for="expiration"><span th:text="#{doge.duration}"></span></label>

                    <input type="date" required id="expiration" class="form-control date-picker" value="25/02/1999"
                           data-datepicker="primary" th:field="*{expiration}">

                </div>

                <div class="col-xs-12">
                    <label for="description" th:text="#{pet.description}" id="label-description"></label>

                    <textarea th:field="*{description}" class="form-control" id="description" rows="5"></textarea>

                </div>



                <div class="form-group col-xs-12">
                    <label for="myFile" th:text="#{doge.pictures}"></label>
                    <div class="form-group">
                        <input type="file" id="myFile" name="myFile" multiple>
                    </div>
                    <div class="form-group">
                        <span class="badge badge-default" th:text="#{doge.pictures.desc}"></span>
                    </div>
                </div>

                <button class="btn btn-primary" id="submit-pet" type="submit" th:text="#{btn.submit}"></button>


        </form>
    </div>
</html>