<!DOCTYPE html>
<html layout:decorate="~{/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">


<div layout:fragment="content-header">
    <h3 class="title" th:text="#{advertisement.list}" id="pet-for-adopt"></h3>
</div>

<div layout:fragment="content">
    <div class="wrapper">
        <h4 class="title">
            <i class="fa fa-fw fa-paw"></i>
        </h4>
        <div class="main">
            <div class="section section-adopt text-center" data-parallax="true">
                <div class="container">
                    <div class="col text-center">
                        <a href="/pet/new" target="_blank"
                           class="btn btn-primary btn-sm btn-round"
                           role="button" th:text="#{pet.new}"> </a>
                    </div>
                    <div class="space-50"></div>

                    <div class="team" th:if="${#lists.isEmpty(pets)}">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="team-player btn-round" data-background-color="black">
                                    <h3 th:text="#{pet.listEmpty}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team" th:if="!${#lists.isEmpty(pets)}">
                        <div class="row">
                            <div class="col-md-4" th:each="pet: ${pets}">
                                <div class="team-player btn-round" data-background-color="orange">
                                    <img src="/img-now/vira-lata.jpeg"
                                         th:src="${pet.pictures[0]?.pictureBase64}"
                                         alt="Foto de perfil do pet"
                                         class="rounded-circle img-fluid img-raised" height="250px"
                                         width="250px" id="pet-photo">
                                    <h4 id="pet-name" class="title" th:text="${pet.name}"></h4>
                                    <p id="pet-date" class="category text-default"
                                       th:text="${#dates.format(pet.register,'dd/MM/yyyy')}">Model</p>
                                    <p id="pet-description" class="description"
                                       th:text="${pet.description}"></p>
                                    <a target="_blank"
                                       class="btn btn-primary btn-md btn-neutral btn-round"
                                       role="button" id="btn-view-pet-profile"
                                       th:text="#{advertisement.profile}"
                                       th:href="@{|view/${pet.id}|}"> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>