<!DOCTYPE html>
<html layout:decorate="~{/layouts/main}">


<div layout:fragment="content-header">
    <h3 class="title" th:text="#{pet.search.advanced}"></h3>
</div>

<div layout:fragment="content">
    <div class="wrapper">
        <h4 class="title">
            <i class="fa fa-fw fa-paw"></i>
        </h4>
        <div class="main">
            <div class="wrapper">
                <div class="section text-center" data-parallax="true">
                    <form th:object="${petSearch}" th:action="@{/pet/listFiltered}">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{advancedSearch}"
                                           placeholder="Termos para pesquisa avançada"
                                           id="input-pet-search-advanced" minlength="3"/>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <div>
                                    <strong><label th:text="#{pet.age}"></label></strong>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-baby" type="checkbox" th:name="baby"
                                           th:checked="*{baby}">
                                    <label for="pet-baby" th:text="#{doge.age.baby}"></label>
                                </div>
                                <div class="check-inline checkbox ">
                                    <input id="pet-adolescent" type="checkbox" th:name="adolescent"
                                           th:checked="*{adolescent}">
                                    <label for="pet-adolescent" th:text="#{doge.age.adol}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-adult" type="checkbox" th:name="adult"
                                           th:checked="*{adult}">
                                    <label for="pet-adult" th:text="#{doge.age.adult}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-ancient" type="checkbox" th:name="ancient"
                                           th:checked="*{ancient}">
                                    <label for="pet-ancient" th:text="#{doge.age.ancient}"></label>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <div>
                                    <strong><label th:text="#{pet.breed}"></label></strong>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-determined" type="checkbox" th:name="determined"
                                           th:checked="*{determined}">
                                    <label for="pet-determined" th:text="#{pet.determined}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-undetermined" type="checkbox" th:name="undetermined"
                                           th:checked="*{undetermined}">
                                    <label for="pet-undetermined" th:text="#{pet.undetermined}"></label>
                                </div>

                            </div>

                            <div class="form-group col-sm-12">
                                <div>
                                    <strong><label th:text="#{pet.species}"></label></strong>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-dog" type="checkbox" th:name="dog"
                                           th:checked="*{dog}">
                                    <label for="pet-dog" th:text="#{pet.dog}"></label>
                                </div>
                                <div class="check-inline checkbox ">
                                    <input id="pet-cat" type="checkbox" th:name="cat"
                                           th:checked="*{cat}">
                                    <label for="pet-cat" th:text="#{pet.cat}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-others" type="checkbox" th:name="other"
                                           th:checked="*{other}">
                                    <label for="pet-others" th:text="#{pet.others}"></label>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <div>
                                    <strong><label th:text="#{pet.gender}"></label></strong>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-female" type="checkbox" th:name="female"
                                           th:checked="*{female}">
                                    <label for="pet-female" th:text="#{pet.female}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-male" type="checkbox" th:name="male"
                                           th:checked="*{male}">
                                    <label for="pet-male" th:text="#{pet.male}"></label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div>
                                    <strong><label th:text="#{pet.size}"></label></strong>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-small" type="checkbox" th:name="small"
                                           th:checked="*{small}">
                                    <label for="pet-small" th:text="#{pet.small}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-medium" type="checkbox" th:name="medium"
                                           th:checked="*{medium}">
                                    <label for="pet-medium" th:text="#{pet.medium}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-big" type="checkbox" th:name="big"
                                           th:checked="*{big}">
                                    <label for="pet-big" th:text="#{pet.big}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-bigger" type="checkbox" th:name="bigger"
                                           th:checked="*{bigger}">
                                    <label for="pet-bigger" th:text="#{pet.bigger}"></label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div>
                                    <strong><label th:text="#{pet.pelage}"></label></strong>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-hair-bold" type="checkbox" th:name="bold"
                                           th:checked="*{bold}">
                                    <label for="pet-hair-bold" th:text="#{doge.pelage.bold}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-hair-hairy" type="checkbox" th:name="hairy"
                                           th:checked="*{hairy}">
                                    <label for="pet-hair-hairy" th:text="#{doge.pelage.hairy}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-hair-mhairy" type="checkbox" th:name="mhairy"
                                           th:checked="*{mhairy}">
                                    <label for="pet-hair-mhairy"
                                           th:text="#{doge.pelage.mhairy}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-hair-vhairy" type="checkbox" th:name="vhairy"
                                           th:checked="*{vhairy}">
                                    <label for="pet-hair-vhairy"
                                           th:text="#{doge.pelage.vhairy}"></label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div>
                                    <strong><label th:text="#{pet.health}"></label></strong>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-bull" type="checkbox" th:name="bull"
                                           th:checked="*{bull}">
                                    <label for="pet-bull" th:text="#{doge.health.bull}"></label>
                                </div>
                                <div class=" check-inline checkbox">
                                    <input id="pet-retired" type="checkbox">
                                    <label for="pet-retired" th:text="#{doge.health.retired}"
                                           th:name="retired" th:checked="*{retired}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-notbull" type="checkbox">
                                    <label for="pet-notbull" th:text="#{doge.health.notbull}"
                                           th:name="notbull" th:checked="*{notbull}"></label>
                                </div>
                                <div class="check-inline checkbox">
                                    <input id="pet-good" type="checkbox">
                                    <label for="pet-good" th:text="#{doge.health.good}" th:name="good"
                                           th:checked="*{good}"></label>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <div class="form-group">
                                    <button class="btn btn-primary" id="pet-search-submit" type="submit"
                                            th:text="#{pet.search}"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>