<!DOCTYPE html>
<html layout:decorate="~{/layouts/main}">


<div layout:fragment="content-header" th:object="${pet}">

    <h3 class="title" id="pet-name" th:text="${pet.name}"></h3>
    <h6><p class="category" id="pet-description"th:text="${pet.description}">Rápida descrição </p></h6>
    <div class="content">
        <div class="social-description">
            <form th:action="@{|/pet/adopt/${pet.id}|}" method="get" th:if="${pet.status == T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Status).WAITING}">
                <button type="submit" id="want-adopt-pet"
                        class="btn btn-primary btn-round" >
                    <span th:text="#{pet.wantadopt}"></span>
                    <i class="now-ui-icons ui-2_favourite-28"></i>
                </button>
            </form>
            <span class="badge badge-success" th:text="#{doge.status.adopted}"
                  th:if="${pet.status == T(br.edu.ifrs.canoas.lds.webapp.domain.enumerated.Status).ADOPTED}"></span>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <div class="wrapper">
        <div class="section">
            <div class="container">
                <h4 class="title">
                    <i class="fa fa-fw fa-paw"></i>
                </h4>
                <h3 class="title" th:text="#{pet.about}"></h3>
                <h6 class="title" th:text="#{pet.species}"></h6>
                <h6 id="pet-species" class="description"
                    th:text="${pet.species.getValor()}"></h6>
                <h6 class="title" th:text="#{pet.gender}"></h6>
                <h6 id="pet-gender" class="description"
                    th:text="${pet.gender.getGender()}"></h6>
                <h6 class="title" th:text="#{pet.age}"></h6>
                <h6 id="pet-age" class="description" th:text="${pet.age.getAge()}"></h6>
                <h6 class="title" th:text="#{pet.breed}"></h6>
                <h6 id="pet-breed" class="description"
                    th:text="${pet.breed.getBreed()}"></h6>
                <h6 class="title" th:text="#{pet.temperament}"></h6>
                <h6 id="pet-temperament" class="description"
                    th:text="${pet.temperament.getTemper()}"></h6>
                <h6 class="title" th:text="#{pet.health}"></h6>
                <h6 id="pet-health" class="description"
                    th:text="${pet.health.getHealth()}"></h6>
                <h6 class="title" th:text="#{pet.size}"></h6>
                <h6 id="pet-size" class="description"
                    th:text="${pet.size.getSize()}"></h6>
                <h6 class="title" th:text="#{pet.pelage}"></h6>
                <h6 id="pet-pelage" class="description"
                    th:text="${pet.pelage.getPelage()}"></h6>
                <hr>
                <h6 class="title" th:text="#{pet.contact}"></h6>
                <h6 id="pet-responsible-contact" class="description"
                    th:text="${pet.getUser().getName()}"></h6>
                <h6 class="title" th:text="#{pet.contact.email}"></h6>
                <h6 id="pet-responsible-email" class="description"
                    th:text="${pet.getUser().getEmail()}"></h6>

                <h4 class="title text-center" th:text="#{pet.photos}"></h4>
                <div class="row">
                    <div th:each="photo : ${pictures}">
                        <div class="col-md-10 col-md-12">
                            <img class="profile-user-img img-responsive img-circle"
                                 src="/img-now/vira-lata.jpeg"
                                 th:src="${photo?.pictureBase64}" alt="Picture of pet">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>