<!--
  ~ Copyright (c) 2017. Lauro Pereira
  -->

<html layout:decorate="~{/layouts/main}">

<head>
    <title th:text="#{item.header}"/>
</head>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
    <section class="content-header">
        <!-- PAGE TITLE -->
        <h1>
            <span th:text="#{index.header}"/>
            <small><span
                    th:text="#{index.title}"/></small>
        </h1>
        <!-- BREADCRUMB -->
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> <span
                    th:text="#{breadcrumb}"/></a></li>
            <li><a href="#"><span th:text="#{ads.breadcrumb}"/></a></li>
            <li class="active"><span th:text="#{ads.breadcrumb.list}"/></li>
        </ol>
    </section>
</div>


<div layout:fragment="content">

    <!-- Main content -->
    <section class="content">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" th:text="#{ads.title.new}"></h3>
            </div>
            <!-- /.box-header -->
            <!-- list start -->
            <div>
                <section>
                    <div class="row docs-premium-template">
                        <div class="col-md-6">
                            <div class="box box-solid">
                                <div class="box-body">
                                    <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                                        Doctor Pet
                                    </h4>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="https://adminlte.io/themes/AdminLTE/index2.html">
                                                <img src="/img/littleDog.jpg"
                                                     alt="Dog" class="media-object"
                                                     style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="clearfix">
                                                <p class="pull-right">
                                                    <a href="https://adminlte.io/themes/AdminLTE/index2.html"
                                                       class="btn btn-success btn-sm">
                                                        READ MORE
                                                    </a>
                                                </p>
                                                <h4 style="margin-top: 0">20% OFF</h4>
                                                <p>Schedule a free consultation, here is the best place for your pet!Schedule a free consultation, here is the best place for your pet!,dsa,das</p>
                                                <p style="margin-bottom: 0">
                                                    <i class="fa fa-phone">&nbsp;537-2972</i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- /.box -->

    </section>

</div>