<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="/fragments/scripts :: head"></head>
<body class="profile-page sidebar-collapse">
<!-- Navbar -->
<nav
        class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent "
        color-on-scroll="400">
    <div class="container">
        <div th:insert="/fragments/search :: item"/>
        <div class="collapse navbar-collapse justify-content-end"
             id="navigation" data-nav-image="/img-now/blurred-image-1.jpg">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Back
                    home</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image" data-parallax="true"
             style="background-image: url('/img-now/bg_ads.jpg');"></div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="/img-now/bg_ads1.jpg" alt="Foto de perfil do pet">
                </div>
                <h3 class="title" th:text="#{ads.title}"></h3>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title" th:text="#{ads.title.new}"></h3>
                    <!-- form start -->
                    <form method="post" action="" th:action="@{/ads/submit}" th:object="${ad}"
                          enctype="multipart/form-data"
                          role="form">
                        <div class="form-group">
                            <input class="form-control" id="id" type="hidden" th:field="*{id}">
                            <input class="form-control" id="init_date" type="hidden" th:field="*{initDate}">
                        </div>
                        <fieldset class="form-group row">
                            <div class="form-check form-check-inline col-md-4">
                                <label class="form-check-label">
                                    <div class="media-left">
                                        <input th:field="*{plan}" class="form-check-input" type="radio" name="plano"
                                               id="plano-mensal"
                                               value="MONTHLY" checked="checked">
                                        <img src="/img/plus-one.png" alt="Plan1" class="media-object"
                                             style="width: 80px;height: auto; border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-title" th:text="#{ads.title.plan.1}"
                                            style="margin-top: 0"></h4>
                                        <p th:text="#{ads.text.plan.1}"></p>
                                        <p th:text="#{ads.price.plan.1}" style="margin-bottom: 0">
                                        </p>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check form-check-inline col-md-4">
                                <label class="form-check-label">
                                    <div class="media-left">
                                        <input th:field="*{plan}" class="form-check-input" type="radio" name="plano"
                                               id="plano-semestral"
                                               value="SEMESTER" checked="">
                                        <img src="/img/plus-six.png" alt="Plan1" class="media-object"
                                             style="width: 80px;height: auto; border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-title" th:text="#{ads.title.plan.2}"
                                            style="margin-top: 0"></h4>
                                        <p th:text="#{ads.text.plan.2}"></p>
                                        <p th:text="#{ads.price.plan.2}" style="margin-bottom: 0">
                                        </p>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check form-check-inline col-md-4">
                                <label class="form-check-label">
                                    <div class="media-left">
                                        <input th:field="*{plan}" class="form-check-input" type="radio" name="plano"
                                               id="plano-anual"
                                               value="YEARLY" checked="">
                                        <img src="/img/plus-twelve.png" alt="Plan1" class="media-object"
                                             style="width: 80px;height: auto; border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-title" th:text="#{ads.title.plan.3}"
                                            style="margin-top: 0"></h4>
                                        <p th:text="#{ads.text.plan.3}"></p>
                                        <p th:text="#{ads.price.plan.3}" style="margin-bottom: 0">
                                        </p>
                                    </div>
                                </label>
                            </div>
                        </fieldset>
                        <div class=" row">
                            <div class="col-xs-6">
                                <label for="title" th:text="#{ads.label.title}" id="label-title"></label>
                                <input th:field="*{title}" type="text" class="form-control" id="title"
                                       th:placeholder="#{ads.ph.title}">
                            </div>
                            <div class="col-xs-6">
                                <label for="sub_title" th:text="#{ads.label.subtitle}" id="label-sub_title"></label>
                                <input th:field="*{subTitle}" type="text" class="form-control" id="sub_title"
                                       th:placeholder="#{ads.ph.subtitle}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="content" th:text="#{ads.label.content}" id="label-content"></label>
                                <textarea th:field="*{content}" rows="2" cols="70" maxlength="140" class="form-control"
                                          id="content"
                                          th:placeholder="#{ads.ph.content}"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4">
                                <label for="phone" th:text="#{ads.label.phone}" id="label-phone"></label>
                                <input type="number" th:field="*{phone}" class="form-control" id="phone"
                                       th:placeholder="#{ads.ph.phone}">
                            </div>
                            <div class="col-xs-8">
                                <label for="email" th:text="#{ads.label.email}" id="label-email"></label>
                                <input type="email" th:field="*{email}" class="form-control" id="email"
                                       th:placeholder="#{ads.ph.email}">
                            </div>
                        </div>
                        <div class="col-xs-12 row">
                            <label for="url" th:text="#{ads.label.url}" id="label-url"></label>
                            <input type="url" th:field="*{url}" class="form-control" id="url"
                                   th:placeholder="#{ads.ph.url}">
                        </div>
                        <div class="form-group row  col-xs-12">
                            <label for="myImage" th:text="#{ads.label.image}" id="label-image"></label>
                            <input type="file"  class="form-control-file" id="myImage" name="myImage">
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer col-xs-12">
                            <br>
                            <button type="button" class="btn btn-default col-xs-offset-1 col-xs-2"
                                    th:text="#{btn.cancel}"></button>
                            <button type="reset" class="btn btn-danger col-xs-offset-2 col-xs-2"
                                    th:text="#{btn.reset}"></button>
                            <button type="submit" class="btn btn-primary col-xs-offset-2 col-xs-2"
                                    th:text="#{btn.submit}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#"> Chaos Team </a></li>
                    <li><a href="#"> About Us </a></li>
                    <li><a href="#"> Facebook </a></li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth()+1; //January is 0!

                        var yyyy = today.getFullYear();
                        if(dd<10){
                            dd='0'+dd;
                        }
                        if(mm<10){
                            mm='0'+mm;
                        }
                        var today = dd+'/'+mm+'/'+yyyy;

                        document.getElementById("init_date").value = today;

                    document.write(new Date().getFullYear());

                </script>
                , Designed by IFRS Canoas. Coded by LDS Chaos Team'2017.
            </div>
        </div>
    </footer>
</div>
</body>
<div th:insert="/fragments/scripts :: javascripts"/>
</html>