<html layout:decorate="~{/layouts/main}">

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1>
			<span th:text="#{petfinder.title}" />
		</h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> <span
					th:text="#{index.breadcrumb-1}" /></a></li>
			<li><a href="/petfinder/list"><span
					th:text="#{petfinder.title}" /></a></li>
		</ol>
	</section>
</div>

<!-- CONTENT -->
<div layout:fragment="content">
	<!-- Main content -->
	<section class="content">
		<div class="col-sm-offset">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title" th:text="#{petfinder.list}"></h3>
					<a id="pet-new" type="button" class="btn btn-info pull-right"
						th:href="@{/pet/new}"><i class="fa fa-plus"></i>&nbsp;<span
						th:text="#{menu.register}"></span></a>
				</div>
				<div class="box">
					<!-- /.box-header -->
					<div class="box-body">
						<div class="col-md-4">
							<div class="box box-default">
								<div class="box-body box-profile">
									<img class="profile-user-img img-responsive"
										src="/img/dog_128.jpg" alt="Doge Lost" id="pet-photo">
									<h3 id="pet-name" class="profile-username text-center"
										th:text="#{doge.name}"></h3>
									<h3 id="pet-status" class="profile-username text-center"
										th:text="#{doge.lost}"></h3>
										<p>
											<span id="pet-date" th:text="#{doge.date}"></span>
											<span id="pet-location" th:text="#{doge.location}" class="pull-right"></span>
										</p>
									<p id="pet-description" th:text="#{doge.description}"></p>
									<a href="/pet/view" id="btn-view-pet-profile"
										class="btn btn-primary btn-block"
										th:text="#{advertisement.profile}"><b></b></a>
								</div>
								<!-- /.box-body -->
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
</div>