<div  th:fragment="adopt"  class="section section-adopt text-center" data-parallax="true"  style="background-image: url('/img-now/bg1a.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
    <div class="container">
        <h2 class="title">Está procurando companhia?</h2>
        <div class="team">
            <div class="team" th:if="${pets.size() == 0}">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="team-player btn-round" data-background-color="black">
                            <h3 th:text="#{pet.listEmpty}"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4" th:each="pet: ${pets}">
                    <div class="team-player btn-round" data-background-color="orange">
                        <img src="/img-now/vira-lata.jpeg"
                             th:src="${pet.pictures[0]?.pictureBase64}"
                             alt="Foto de perfil do pet"
                             class="rounded-circle img-fluid img-raised" height="250px"
                             width="250px">
                        <h4 class="title" th:text="${pet.name}"></h4>
                        <p class="description" th:text="${pet.description}"></p>
                        <a class="btn btn-primary btn-lg btn-neutral btn-round" id="btn-adopt" role="button" th:text="#{advertisement.profile}" th:href="@{|pet/view/${pet.id}|}">

                        </a>
                    </div>
                </div>
            </div>
            <div class="space-50"></div>
            <div class="text-center">
                <a th:href="@{/pet/listAll}" class="btn btn-primary btn-lg btn-round" th:if="${pets.size() > 0}"  role="button" id="mais-pets">
                    Mais Pets
                </a>
            </div>
        </div>
    </div>
</div>