<!--
  ~ Copyright (c) 2017. Lauro Pereira
  -->
<div th:fragment="ads">
    <section>
        <div class="row docs-premium-template">
            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-body">
                        <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Doctor Pet
                        </h4>
                        <div class="media">
                            <div class="media-left">
                                <a href="https://adminlte.io/themes/AdminLTE/index2.html">
                                    <img src="/img/littleDog.jpg"
                                         alt="Dog" class="media-object"
                                         style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="clearfix">
                                    <p class="pull-right">
                                        <a href="https://adminlte.io/themes/AdminLTE/index2.html"
                                           class="btn btn-primary btn-lg btn-round" role="button">
                                            READ MORE
                                        </a>
                                    </p>
                                    <h4 style="margin-top: 0">20% OFF</h4>
                                    <p>Schedule a free consultation, here is the best place for your pet!Schedule a free consultation, here is the best place for your pet!,dsa,das</p>
                                    <p style="margin-bottom: 0">
                                        <i class="fa fa-phone">&nbsp;537-2972</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-body">
                        <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Baby dog
                        </h4>
                        <div class="media">
                            <div class="media-left">
                                <a href="https://adminlte.io/themes/AdminLTE/index2.html">
                                    <img src="/img/yellowDog.jpg"
                                         alt="Dog" class="media-object"
                                         style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="clearfix">
                                    <p class="pull-right">
                                        <a href="https://adminlte.io/themes/AdminLTE/index2.html"
                                           class="btn btn-primary btn-lg btn-round" role="button">
                                            READ MORE
                                        </a>
                                    </p>
                                    <h4 style="margin-top: 0">50'st first call</h4>
                                    <p>Will get a special gift, do not waste time!</p>
                                    <p style="margin-bottom: 0">
                                        <i class="fa fa-phone">&nbsp;555-2498</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>