<div th:fragment="carousel" class="section" id="carousel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block" th:src="@{/img-now/bg1a.jpg}"/>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Dog 1</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" th:src="@{/img-now/bg1a.jpg}"/>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Dog 1</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" th:src="@{/img-now/bg1a.jpg}"/>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Dog 1</h5>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="now-ui-icons arrows-1_minimal-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>