<div th:fragment="faq" xmlns:th="http://www.w3.org/1999/xhtml">

    <script language="JavaScript" type="text/javascript">

        var vCont = 0;
        function conta() {
            vCont = vCont + 1;
            document.getElementById('like1').value = vCont;
            console.log(vCont);
            //window.location.reload();
        }

    </script>

    <div class="section section-faq text-center" id="faq">
        <div class="container">
            <h2 class="title" th:text="#{faq.list}"></h2>
            <div class="row">
                <div class="ml-auto mr-auto">
                    <p class="category">Area destinada a dúvidas sobre seu pet</p>
                    <div class="card">
                        <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                            <li class="nav-item">
                                <a class="nav-link" id="cat1" data-toggle="tab" href="#category1" role="tab" aria-expanded="true" th:text="#{faq.animails.condominy}"> Texto 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="cat2" data-toggle="tab" href="#category2" role="tab" aria-expanded="false" th:text="#{faq.animails.dog}"> Texto 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="cat3" data-toggle="tab" href="#messages1" role="tab" aria-expanded="false" th:text="#{faq.animails.cat}"> Texto 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="cat4" data-toggle="tab" href="#settings1" role="tab" aria-expanded="false" th:text="#{faq.animails.law}">Texto 1 </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="cat5" data-toggle="tab" href="#settings2" role="tab" aria-expanded="false" th:text="#{faq.animails.bad}">Texto 1 </a>
                            </li>
                        </ul>
                        <div class="card-body">
                            <!-- Tab panes -->
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="category1" role="tabpanel" aria-expanded="true">
                                    <table class="table table-bordered">
                                        <p>Perguntas sobre animais em condominio</p>
                                        <thead>
                                            <!--<tr th:each="faq: ${faqs}">-->
                                            <!--<th style="width: 10px"></th>-->
                                        <th th:text="#{faq.question}"></th>
                                        <th th:text="#{faq.answer}"></th>
                                        <th th:text="#{faq.accept}"></th>
                                        <th th:text="#{faq.decline}"></th>
                                        <th th:text="#{faq.file}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="faq: ${faqs1}">
                                        <span th:if="${faq.status!= false}">
                                                <p><th th:text="${faq.question}"></th></p>
                                        <td th:text="${faq.answer}"></td>
                                        <td ><a th:href="@{|/faq/like/${faq.id}|}"><button class="btn btn-neutral" id="like1" value="hit"><span th:text="${faq.likes}"></span><span>&nbsp;</span><i class="now-ui-icons ui-2_like"></i></button></a></td>
                                        <td ><a th:href="@{|/faq/unlike/${faq.id}|}"><button class="btn btn-neutral" id="unlike1" value="hit"><span th:text="${faq.unlikes}"></span><span>&nbsp;</span><i class="fa fa-thumbs-o-down"></i></button></a></td>
                                        <td th:if="${faq.file}!= null">
                                            <a th:text="${faq.file.filename}" th:href="@{|/faq/download/${faq.file.id}|}"></a></td>
                                        </tr></span>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="category2" role="tabpanel" aria-expanded="false">
                                    <p>Perguntas sobre esterilização de cães</p>
                                    <table class="table table-bordered">
                                        <thead>

                                            <!--<tr th:each="faq: ${faqs}">-->
                                            <!--<th style="width: 10px"></th>-->
                                        <th th:text="#{faq.question}"></th>
                                        <th th:text="#{faq.answer}"></th>
                                        <th th:text="#{faq.accept}"></th>
                                        <th th:text="#{faq.decline}"></th>
                                        <th th:text="#{faq.file}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="faq: ${faqs2}">
                                                <span th:if="${faq.status!= false}"> </span>
                                                <p><th th:text="${faq.question}"></th></p>
                                        <td th:text="${faq.answer}"></td>
                                        <td ><a th:href="@{|/faq/like/${faq.id}|}"><button class="btn btn-neutral" id="like2" value="hit"><span th:text="${faq.likes}"></span><span>&nbsp;</span><i class="now-ui-icons ui-2_like"></i></button></a></td>
                                        <td ><a th:href="@{|/faq/unlike/${faq.id}|}"><button class="btn btn-neutral" id="unlike2" value="hit"><span th:text="${faq.unlikes}"></span><span>&nbsp;</span><i class="fa fa-thumbs-o-down"></i></button></a></td>
                                        <td th:if="${faq.file}!= null">
                                            <a th:text="${faq.file.filename}" th:href="@{|/faq/download/${faq.file.id}|}"></a></td>
                                        </tr></span>
                                        </tbody>
                                    </table>
                                    </span>
                                </div>
                                <div class="tab-pane" id="messages1" role="tabpanel" aria-expanded="false">
                                    <p>Perguntas sobre a esterilização de gatos</p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <!--<tr th:each="faq: ${faqs}">-->
                                            <!--<th style="width: 10px"></th>-->
                                        <th th:text="#{faq.question}"></th>
                                        <th th:text="#{faq.answer}"></th>
                                        <th th:text="#{faq.accept}"></th>
                                        <th th:text="#{faq.decline}"></th>
                                        <th th:text="#{faq.file}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="faq: ${faqs3}">
                                                <span th:if="${faq.status!= false}">
                                        <p><th th:text="${faq.question}"></th></p>
                                        <td th:text="${faq.answer}"></td>
                                        <td ><a th:href="@{|/faq/like/${faq.id}|}"><button class="btn btn-neutral" id="like3" value="hit"><span th:text="${faq.likes}"></span><span>&nbsp;</span><i class="now-ui-icons ui-2_like"></i></button></a></td>
                                        <td ><a th:href="@{|/faq/unlike/${faq.id}|}"><button class="btn btn-neutral" id="unlike3" value="hit"><span th:text="${faq.unlikes}"></span><span>&nbsp;</span><i class="fa fa-thumbs-o-down"></i></button></a></td>
                                        <td th:if="${faq.file}!= null">
                                            <a th:text="${faq.file.filename}" th:href="@{|/faq/download/${faq.file.id}|}"></a></td>
                                        </tr></span>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="settings1" role="tabpanel" aria-expanded="false">
                                    <p>Perguntas sobre Leis</p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <!--<tr th:each="faq: ${faqs}">-->
                                            <!--<th style="width: 10px"></th>-->
                                        <th th:text="#{faq.question}"></th>
                                        <th th:text="#{faq.answer}"></th>
                                        <th th:text="#{faq.accept}"></th>
                                        <th th:text="#{faq.decline}"></th>
                                        <th th:text="#{faq.file}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="faq: ${faqs4}">
                                                <span th:if="${faq.status!= false}">
                                        <p><th th:text="${faq.question}"></th></p>
                                        <td th:text="${faq.answer}"></td>
                                        <td ><a th:href="@{|/faq/like/${faq.id}|}"><button class="btn btn-neutral" id="like4" value="hit"><span th:text="${faq.likes}"></span><span>&nbsp;</span><i class="now-ui-icons ui-2_like"></i></button></a></td>
                                        <td ><a th:href="@{|/faq/unlike/${faq.id}|}"><button class="btn btn-neutral" id="unlike4" value="hit"><span th:text="${faq.unlikes}"></span><span>&nbsp;</span><i class="fa fa-thumbs-o-down"></i></button></a></td>
                                        <td th:if="${faq.file}!= null">
                                            <a th:text="${faq.file.filename}" th:href="@{|/faq/download/${faq.file.id}|}"></a></td>
                                        </tr></span>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="settings2" role="tabpanel" aria-expanded="false">
                                    <p>Perguntas sobre Maus Tratos</p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <!--<tr th:each="faq: ${faqs}">-->
                                            <!--<th style="width: 10px"></th>-->
                                        <th th:text="#{faq.question}"></th>
                                        <th th:text="#{faq.answer}"></th>
                                        <th th:text="#{faq.accept}"></th>
                                        <th th:text="#{faq.decline}"></th>
                                        <th th:text="#{faq.file}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="faq: ${faqs5}">
                                                <span th:if="${faq.status!= false}">
                                        <p><th th:text="${faq.question}"></th></p>
                                        <td th:text="${faq.answer}"></td>
                                        <td ><a th:href="@{|/faq/like/${faq.id}|}"><button class="btn btn-neutral" id="like5" value="hit"><span th:text="${faq.likes}"></span><span>&nbsp;</span><i class="now-ui-icons ui-2_like"></i></button></a></td>
                                        <td ><a th:href="@{|/faq/unlike/${faq.id}|}"><button class="btn btn-neutral" id="unlike5" value="hit"><span th:text="${faq.unlikes}"></span><span>&nbsp;</span><i class="fa fa-thumbs-o-down"></i></button></a></td>
                                        <td th:if="${faq.file}!= null">
                                            <a th:text="${faq.file.filename}" th:href="@{|/faq/download/${faq.file.id}|}"></a></td>
                                        </tr></span>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Tabs on plain Card -->
                </div>
            </div>
            <div class="space-50"></div>
            <div class="text-center">
                <a role="button" class="btn btn-primary btn-round" id="newQuestion" th:href="@{/faq/newquestion}"
                   th:text="#{faq.criarPergunta}"><span
                        class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="space-50"></div>
        </div>
    </div>
</div>