<div th:fragment="find-pet" class="section section-find text-center" data-background-color="black">
    <div class="container">
        <h2 class="title">Perdeu sua companhia?</h2>
        <div class="team">
            <div class="row">
                <div class="col-md-4">
                    <div class="team-player" >
                        <img src="/img-now/cat1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" height="250px" width="250px">
                        <h4 class="title">Romina Hadid</h4>
                        <p class="category text-primary">Model</p>
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="/profile" target="_blank" class="btn btn-primary btn-lg btn-neutral btn-round" role="button">
                            Mais
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player" >
                        <img src="/img-now/dog1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" height="250px" width="250px">
                        <h4 class="title">Romina Hadid</h4>
                        <p class="category text-primary">Model</p>
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="/profile" target="_blank" class="btn btn-primary btn-lg btn-neutral btn-round" role="button">
                            Mais
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player" >
                        <img src="/img-now/cat1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" height="250px" width="250px">
                        <h4 class="title">Romina Hadid</h4>
                        <p class="category text-primary">Model</p>
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="/profile" target="_blank" class="btn btn-primary btn-lg btn-neutral btn-round" role="button">
                            Mais
                        </a>
                    </div>
                </div>
            </div>
            <div class="space-50"></div>
            <div class="space-50"></div>
        </div>
    </div>
</div>