<div class="container">
    <nav>
        <ul>
            <li>
                <a href="#">
                    Chaos Team
                </a>
            </li>
            <li>
                <a href="#">
                    About Us
                </a>
            </li>
            <li>
                <a href="#">
                    Facebook
                </a>
            </li>
        </ul>
    </nav>
    <div class="copyright">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, Designed by IFRS Canoas. Coded by LDS Chaos Team'2017.
    </div>
</div>