<div th:fragment="help" class="section section-help text-center"
     style="background-image: url('/img-now/bg12.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
    <div class="container">
        <h2 class="title">Quer nos ajudar?</h2>
        <h5 class="description text-white">Anuncie seus produtos ou serviços em nosso site.</h5>
        <div id="ads">
            <div class="row" style="margin-bottom: 20px;" th:each="ad: ${ads}">

                <div class="col-lg-6 col-md-12">
                    <a th:href="@{'/ad/visit/' + ${ad.id}}">
                        <h3 class="title" th:text="${ad.title}"></h3>
                    </a>
                    <h5 class="description text-white" th:text="${ad.subTitle}"></h5>
                    <h5 class="description text-white" th:text="${ad.phone}"></h5>
                    <h5 class="description text-white" th:text="${ad.email}"></h5>
                    <a th:href="@{'/ad/visit/' + ${ad.id}}">
                        <h5 class="description text-white" th:text="${ad.url}"></h5>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <img th:src="${'/img-now/' + ad.image.filename}" alt="" width="400px">
                </div>
            </div>
        </div>
    </div>
    <div class="space-50"></div>
    <div class="text-center">
        <a th:href="@{|ads/new/|}" class="btn btn-primary btn-lg btn-round" role="button">
            Anunciar
        </a>
    </div>
</div>