<div th:fragment="item">

    <div class="collapse navbar-collapse justify-content-end"
         id="navigation" data-nav-image="/img-now/blurred-image-1.jpg">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="btn-top-page" href="#">
                    <i class="fa fa-fw fa-home"></i>
                    <p th:text="#{menu.petnation}"></p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="btn-news" href="#">
                    <i class="fa fa-fw fa-newspaper-o"></i>
                    <p th:text="#{menu.petNews}"></p>
                </a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuPet">
                        <i class="fa fa-fw fa-heart-o"></i>
                        <p th:text="#{menu.pet}"></p>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" th:href="@{/pet/new}" th:text="#{menu.pet.donate}" id="newPet"></a>
                        <a class="dropdown-item" href="#" id="btn-adopt" th:text="#{menu.pet.adopt}"></a>

                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="btn-pet-finder">
                    <i class="fa fa-fw fa-search"></i>
                    <p th:text="#{menu.lostAndFound}"></p>
                </a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuPet">
                        <i class="fa fa-fw fa-question"></i>
                        <p th:text="#{menu.questions}"></p>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="#" id="btn-faq" th:text="#{faq.list}"></a>
                        <a class="dropdown-item" th:href="@{/faq/aprove}" th:text="#{faq.aprovarPergunta}"></a>

                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="btn-ads" href="#">
                    <i class="fa fa-fw fa-diamond"></i>
                    <p th:text="#{menu.sponsor}"></p>
                </a>
            </li>


            <form class="form" name="loginForm" action="/signin/facebook" method="POST">
                <input type="hidden" name="scope" value="public_profile" />
                <a class="nav-link" rel="tooltip" title="Faça login aqui" data-placement="bottom" href="javascript:loginForm.submit()" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                    <p th:text="#{menu.facebookLogin}"></p>
                </a>
            </form>

            <li class="nav-item" th:if="${userLogado != null}">
                <a href="#" th:href="@{/login?logout}" class="nav-link">Sign out</a>
            </li>
            <!--<img src="/photos/no_image_available.png" class="img-circle" alt="User Image"-->
            <!--th:src="${#authentication?.principal?.user?.picture?.pictureBase64}">-->

        </ul>
    </div>

    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
    </button>
</div>
