<div th:fragment="news" class="section section-news text-center">
    <div class="container">
        <h2 class="title">Notícias</h2>
        <div id="noticias">
            <div class="row" th:each="n: ${news}">
                <div class="col-lg-8 col-md-12">
                    <h3 class="title" id="news-title" th:text="${n.title}"></h3>
                    <h5 class="description" th:text="${n.description}"></h5>
                    <a th:href="@{|news/view/${n.id}|}" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fa fa-play"></i>
                    </a>

                </div>
                <div class="col-lg-4 col-md-12">
                    <img src="/img-now/bg1.jpg" alt="" width="200px">
                </div>
            </div>
        </div>

        <div class="space-50"></div>

        <div class="text-center">
            <a th:href="@{/news/list}" class="btn btn-primary btn-lg btn-round" id="list-new" role="button">
                Mais notícias
            </a>
            <a th:href="@{/news/create}" class="btn btn-primary btn-lg btn-neutral btn-round" role="button">
                Criar
            </a>
        </div>
        <div class="space-50"></div>
    </div>
</div>