

<head th:fragment="head">
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img-now/apple-icon.png">
    <link rel="icon" type="image/png" href="/img-now/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Petnation</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/now-ui-kit.css?v=1.1.0" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link type="text/css" rel="stylesheet" href="/css/demo.css" />
    <link type="text/css" rel="stylesheet" href="/css/pet.css" />

    <th:block layout:fragment="css-view"/>
</head>



<div th:fragment="javascripts">

    <!--   Core JS Files   -->
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="/webjars/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>
    <script src="/webjars/nouislider/9.2.0/distribute/nouislider.min.js"></script>
    <script src="/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
    <script type="text/javascript">
        function scrollTo(target){
            if ($(target).length != 0) {
                $("html, body").animate({
                    scrollTop: $(target).offset().top
                }, 1000);
            }
        }
        
        
    </script>

    <th:block layout:fragment="js-view"/>

</div>
