<div class="navbar-search" th:fragment="item">

    <a href="/pet/search" class="btn btn-sm btn-default btn-round" role="button" >
        <i class="fa fa-fw fa-search"></i>
        <span th:text="#{pet.searchapet}">
        </span>
    </a>

    <!--<div class="input-group form-group-no-border">
                <span class="input-group-addon">
                    <i class="fa fa-fw fa-search"></i>
                </span>
        <input type="text" class="form-control" placeholder="Ache seu pet" id="input-pet-search"/>
    </div>
    <button id="btn-search" onclick="search();" hidden="hidden"></button>-->
</div>
