<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="/fragments/scripts :: head" />

<body class="profile-page sidebar-collapse">


<!-- Navbar -->
<nav
		class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent "
		color-on-scroll="400">
	<div class="container">
		<div th:insert="/fragments/search :: item" />

		<div class="collapse navbar-collapse justify-content-end"
			 id="navigation" data-nav-image="/img-now/blurred-image-1.jpg">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Back
					home</a></li>
			</ul>
		</div>

	</div>
</nav>
<!-- End Navbar -->



<div class="wrapper">
	<div class="page-header page-header-small" filter-color="orange">
		<div class="page-header-image" data-parallax="true"
			 style="background-image: url('/img-now/bg1a.jpg');"></div>

		<div class="container">
			<div class="content-center">
				<div class="photo-container">
					<img src="/img-now/DOGFACE.jpg" alt="Foto de perfil do pet">
				</div>
				<h3 class="title" th:text="#{faq.new}"></h3>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<h3 class="box-title" th:text="#{faq}"></h3>
			<!--             <h3 class="title" th:text="#{pet.about}"></h3> -->

		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<nav>
				<ul>
					<li><a href="#"> Chaos Team </a></li>
					<li><a href="#"> About Us </a></li>
					<li><a href="#"> Facebook </a></li>
				</ul>
			</nav>
			<div class="copyright">
				&copy;
				<script>
                    document.write(new Date().getFullYear())
				</script>
				, Designed by IFRS Canoas. Coded by LDS Chaos Team'2017.
			</div>
		</div>
	</footer>
</div>


</body>

<div th:insert="/fragments/scripts :: javascripts" />

</html>