<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="/fragments/scripts :: head" />

<body class="profile-page sidebar-collapse">


<!-- Navbar -->
<nav
        class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent "
        color-on-scroll="400">
    <div class="container">
        <div th:insert="/fragments/search :: item" />

        <div class="collapse navbar-collapse justify-content-end"
             id="navigation" data-nav-image="/img-now/blurred-image-1.jpg">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Back
                    home</a></li>
            </ul>
        </div>

    </div>
</nav>
<!-- End Navbar -->



<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image" data-parallax="true"
             style="background-image: url('/img-now/bg1a.jpg');"></div>

        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="/img-now/DOGFACE.jpg" alt="Foto de perfil do pet">
                </div>
                <h3 class="title" th:text="#{faq.new}"></h3>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
                <h3 class="box-title" th:text="#{faq}"></h3>
            <!--             <h3 class="title" th:text="#{pet.about}"></h3> -->

            <form method="post" action="" th:action="@{/faq/submit}" th:object="${faq}" enctype="multipart/form-data">

                <div class="box-body">
                    <div class="form-group">
                        <input class="form-control" id="id" type="hidden" th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label class="form-group" for="category" th:text="#{faq.categoria}"></label>
                        <select class="form-control" th:field="*{category.id}"  id="category">
                            <option th:each="category : ${categorys}" th:value="${category.id}" th:text="${category.category}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="question" th:text="#{faq.question}"></label>
                        <textarea class="form-control" id="question" placeholder="" th:field="*{question}" minlength="50" maxlength="255"/>
                        <span th:if="${#fields.hasErrors('question')}" th:errors="*{question}" th:class="help-block" />
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputAnswer" th:text="#{faq.answer}"></label>
                        <textarea class="form-control" id="inputAnswer" placeholder="Enter Question" th:field="*{answer}" minlength="50" maxlength="255">
                                <span th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}" th:class="help-block" />
                            </textarea>
                    </div>
                    <div class="form-group">
                        <label for="myFile" th:text="#{faq.answer}">File input</label>
                        <input type="file" accept="application/pdf" id="myFile" name="myFile">
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-round" id="enviar" th:text="#{faq.enviar}"> Enviar</button>
                    <a role="button" class="btn btn-primary btn-round" id="cancel" th:href="@{list}" th:text="#{faq.cancelar}"> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#"> Chaos Team </a></li>
                    <li><a href="#"> About Us </a></li>
                    <li><a href="#"> Facebook </a></li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
                , Designed by IFRS Canoas. Coded by LDS Chaos Team'2017.
            </div>
        </div>
    </footer>
</div>


</body>

<div th:insert="/fragments/scripts :: javascripts" />

</html>